<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="bankAccount1" class="springQ4.BankAccount" >
        <property name="accountId" value="2000"></property>
        <property name="accountHolderName" value="Madhu"></property>
        <property name="accountType" value="Savings"></property>
        <property name="accountBalance" value="20000"></property>
        </bean>
        <bean id="bankAccount2" class="springQ4.BankAccount" >
        <property name="accountId" value="2001"></property>
        <property name="accountHolderName" value="Satya"></property>
        <property name="accountType" value="Savings"></property>
        <property name="accountBalance" value="10000"></property>
        </bean>
    <bean id ="BankRepo" class = "springQ4.BankAccountRepositoryImpl" name = "BankAccountRepositoryImpl" autowire="byName">
  

    </bean>
<bean id ="controller" class = "springQ4.BankAccountController" name = "controller"/>
</beans>